.img-responsive {
    height: 300px;
    width: 220px;
}
.btn-block {
  font-size: 30px;
}
.on{
  border: 5px solid green;
}
.off{
  border: 5px solid maroon;
}
.modal-body>.img-responsive{
  width: auto;
}
.btn-success{
  left: 80%;
  top: 95%;
  position: fixed;
}